<table>
  <thead>
    <tr>
      <th>Nome completo</th>
      <th>Tipo do documento</th>
      <th>Documento</th>
      <th>Dados Bancários</th>
      <th>Criado em</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td>{{ row.fullName }}</td>
      <td>{{ row.documentType }}</td>
      <td class="hide-data">{{ row.document }}</td>
      <td>
        {{
          "Código do Banco: " +
            row.bankCode +
            ", Agência do Banco: " +
            row.bankAgency +
            ", Número da Conta: " +
            row.accountNumber
        }}
      </td>
      <td>{{ row.createdAt | date : "dd/MM/yyyy" }}</td>
      <td>
        <button (click)="openModalUpdateScholar(row)">Editar</button>
        <button (click)="deleteScholar(row)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
