<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Nome completo</th>
      <th scope="col">Tipo do documento</th>
      <th scope="col">Documento</th>
      <th scope="col">Dados Bancários</th>
      <th scope="col">Criado em</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td>{{ row.fullName }}</td>
      <td>{{ row.documentType }}</td>
      <td class="hide-data">{{ row.document }}</td>
      <td>
        {{
          "Código do Banco: " +
            row.bankCode +
            ", Agência do Banco: " +
            row.bankAgency +
            ", Número da Conta: " +
            row.accountNumber
        }}
      </td>
      <td>{{ row.createdAt | date : "dd/MM/yyyy" }}</td>
      <td>
        <button class="btn btn-primary" (click)="openModalUpdateScholar(row)">
          Editar
        </button>
        <button class="btn btn-danger" (click)="deleteScholar(row)">
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>
