<div class="modal-content green-theme custom-form">
  <div class="modal-content green-theme">
    <h4 class="mb-3">Editar Registro</h4>
    <form
      #editForm="ngForm"
      (ngSubmit)="onSubmit()"
      class="needs-validation"
      novalidate
    >
      <div class="form-group mb-3">
        <label for="fullName">Nome Completo:</label>
        <input
          type="text"
          [(ngModel)]="editedRow.fullName"
          name="fullName"
          id="fullName"
          class="form-control"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="document">Documento:</label>
        <input
          type="number"
          [(ngModel)]="editedRow.document"
          name="document"
          id="document"
          class="form-control"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="documentType">Tipo de Documento:</label>
        <select
          [(ngModel)]="editedRow.documentType"
          name="documentType"
          id="documentType"
          class="form-control"
          required
        >
          <option value="CPF">CPF</option>
          <option value="CNH">CNH</option>
          <option value="PASSPORT">Passaporte</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label for="bankCode">Código do Banco:</label>
        <select
          [(ngModel)]="editedRow.bankCode"
          name="bankCode"
          id="bankCode"
          class="form-control"
          required
        >
          <option *ngFor="let bank of banks" [value]="bank.code">
            {{ bank.code }} - {{ bank.name }}
          </option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label for="bankAgency">Agência do Banco:</label>
        <input
          type="number"
          [(ngModel)]="editedRow.bankAgency"
          name="bankAgency"
          id="bankAgency"
          class="form-control"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="accountNumber">Número da Conta:</label>
        <input
          type="number"
          [(ngModel)]="editedRow.accountNumber"
          name="accountNumber"
          id="accountNumber"
          class="form-control"
          required
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!editForm.form.valid"
      >
        Salvar
      </button>
    </form>
  </div>
</div>
