<div class="modal-content green-theme custom-form">
  <div class="modal-content green-theme">
    <h4 class="mb-3">Editar Registro</h4>
    <form
      #editForm="ngForm"
      (ngSubmit)="onSubmit()"
      class="needs-validation"
      novalidate
    >
      <div class="form-group mb-3">
        <label for="fullName">Nome Completo:</label>
        <input
          type="text"
          [(ngModel)]="row.fullName"
          name="fullName"
          id="fullName"
          class="form-control"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="document">Documento:</label>
        <input
          type="number"
          [(ngModel)]="row.document"
          name="document"
          id="document"
          class="form-control"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="documentType">Tipo de Documento:</label>
        <input
          type="text"
          [(ngModel)]="row.documentType"
          name="documentType"
          id="documentType"
          class="form-control"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="bankCode">Código do Banco:</label>
        <input
          type="text"
          [(ngModel)]="row.bankCode"
          name="bankCode"
          id="bankCode"
          class="form-control"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="bankAgency">Agência do Banco:</label>
        <input
          type="text"
          [(ngModel)]="row.bankAgency"
          name="bankAgency"
          id="bankAgency"
          class="form-control"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="accountNumber">Número da Conta:</label>
        <input
          type="text"
          [(ngModel)]="row.accountNumber"
          name="accountNumber"
          id="accountNumber"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
</div>
