.green-theme {
  background-color: #32de84; /* Tom verde */
  color: white; /* Texto branco para contraste */
  padding: 20px;
  border-radius: 10px;
}

.green-theme h4 {
  margin-bottom: 20px;
}

.green-theme label {
  display: block;
  margin-bottom: 10px;
}

.green-theme input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.green-theme button {
  padding: 10px 20px;
  background-color: #008000; /* Tom verde mais escuro */
  color: white; /* Texto branco para contraste */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
