<div class="modal-content green-theme custom-form">
  <h4>Criar Novo Registro</h4>
  <form
    #createForm="ngForm"
    (ngSubmit)="onSubmit()"
    class="needs-validation"
    novalidate
  >
    <div class="form-group">
      <label>Nome Completo:</label>
      <input
        type="text"
        [(ngModel)]="row.fullName"
        name="fullName"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Por favor, preencha este campo.</div>
    </div>
    <div class="form-group">
      <label>Documento:</label>
      <input
        type="number"
        [(ngModel)]="row.document"
        name="document"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Por favor, preencha este campo.</div>
    </div>
    <div class="form-group mb-3">
      <label for="documentType">Tipo de Documento:</label>
      <select
        [(ngModel)]="row.documentType"
        name="documentType"
        id="documentType"
        class="form-control"
        required
      >
        <option value="CPF">CPF</option>
        <option value="CNH">CNH</option>
        <option value="PASSPORT">Passaporte</option>
      </select>
    </div>
    <div class="form-group mb-3">
      <label for="bankCode">Código do Banco:</label>
      <select
        [(ngModel)]="row.bankCode"
        name="bankCode"
        id="bankCode"
        class="form-control"
        required
      >
        <option *ngFor="let bank of banks" [value]="bank.code">
          {{ bank.code }} - {{ bank.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Agência do Banco:</label>
      <input
        type="number"
        [(ngModel)]="row.bankAgency"
        name="bankAgency"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Por favor, preencha este campo.</div>
    </div>
    <div class="form-group">
      <label>Número da Conta:</label>
      <input
        type="number"
        [(ngModel)]="row.accountNumber"
        name="accountNumber"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Por favor, preencha este campo.</div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!createForm.form.valid"
    >
      Salvar
    </button>
  </form>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>
